@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Squareroot calculator!</h1>
    <p>Click <a href="https://localhost:5001/Squareroot/CalcSquareroot">HERE</a> to do all your Squareroot Calculations.</p>
</div>
